ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: darkgreen;
    overflow: hidden;
}
li{
float: left;
}
li,a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
/*li,a:hover{*/
/*    background-color: blueviolet;*/
/*}*/